.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 798px){
    .slider{
        width: 100%;
        height: 100vh;
        margin: auto;
        overflow: hidden;
    }
    .slider ul{
        display: flex;
        padding: 0;
        width: 400%;

        animation: cambio 20s infinite;
        animation-direction: alternate;
    }
    .slider li{
        list-style: none;
        width: 100%;
        height: 100%;
    }
    .slider img{
        width: 100%;
    }
    .contenido{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
        margin: 0 20px;
    }
    
    .contenido img{
        width: 90%;
        color: #F2CEDF;
    }
}

@media only screen and (min-width: 576px){
    .slider{
        width: 100%;
        height: 100vh;
        margin: auto;
        overflow: hidden;
    }
    .slider ul{
        display: flex;
        padding: 0;
        width: 400%;

        animation: cambio 20s infinite;
        animation-direction: alternate;
    }
    .slider li{
        list-style: none;
        width: 100%;
        height: 100%;
    }
    .slider img{
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
    .contenido{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
    }
    
    .contenido img{
        width: 50%;
        color: #F2CEDF;
    }
}

@keyframes cambio {
    0%  {margin-left: 0;}
    20% {margin-left: 0;}
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    75% {margin-left: -300%;}
    100%{margin-left: -300%;}
}